root = true
[*.cs]
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.IDE0161.severity = error

# New line preferences
csharp_new_line_before_open_brace = methods, types
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_within_query_expression_clauses = false

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less

csharp_prefer_braces = true:silent
